<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:fragment="header">
        <a href="/init">Clear db and load new data</a><br/>
        <a href="/view/types">View datatypes</a>|
        <a href="/view/attrs">View attributes</a>|
        <a href="/view/attrValues">View attribute values</a>|
        <a href="/view/brands">View brands</a>|
        <a href="/view/items">View items</a>|
        <a href="/view/itemAttrs">View item attrs</a>|
        <a href="/view/itemTypes">View item types</a>|
        <a href="/debug">Debug</a>
        <br/>
        <a href="/items">Items view</a>|
    </div>
</body>
</html>
