<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Test shop</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:replace="header :: header">
    </div>
    <h3 th:text ="${data}"/>
    <table>
        <tr><td>Type</td><td th:text="${i.getItemType().getName()}"/></tr>
        <tr><td>Brand</td><td th:text="${i.getBrand().getName()}"/></tr>
        <tr><td>Price</td><td th:text="${i.getPriceStr()}"/></tr>
        <tr><td>Amount</td><td th:text="${i.getAmountStr()}"/></tr>
        <tr th:each="a : ${i.getAttrValues()}">
            <td th:text = "${a.getAttr().getName()}"/><td th:text="${a.getAttrValueText()}"/>
        </tr>
    </table>
    <a th:href = "@{/edititem/{id}(id=${i.getId()})}">Edit</a><br/>
    <p th:text = "${debug}"/>
</body>
</html>
